﻿<!DOCTYPE html>
<html ng-app="MvcAngular" ng-controller="LandingPageController">
    <head>
        <title ng-bind="models.helloAngular"></title>
    </head>
    <body>
        <input type="text" ng-model="models.helloAngular" />
        <h1>{{models.helloAngular}}</h1>

        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
        @Scripts.Render("~/bundles/MvcAngular")
    </body>
</html>